#outMostGrid {
    margin-top: 2%;
}
.row {
    margin-left: 40%;
}
.cell {
    border: dotted;
    border-color: #100928;
    display: inline-block;
    width: 20px;
    height: 20px;
}
button {
    margin-left: 50%;
}